h1 {
  color: red;
  font-size: 60px;
  text-align: center;
}

p {
  color:blue;
}


h1#header1 {
  color:lavender;
  background-image: url(http://placekitten.com/200/300);
}

.centerimage {
  text-align: center;
}

td.city-cell {
  background: red;
}